@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: -1px;
}

html {
  scroll-behavior: smooth;
}

/* =========================
   HIDE SCROLLBAR
========================= */

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* =========================
   PARTICLES
========================= */

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: brown;
  border-radius: 9999px;
  opacity: 0.8;
  filter: blur(0.3px);

  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0px) scale(0.8);
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }

  50% {
    transform: translateY(-100px) scale(1);
  }

  100% {
    transform: translateY(-220px) scale(0.8);
    opacity: 0;
  }
}