@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
}

.particle {
  position: absolute;
  width: 6px;
  height: 6px;

  background: radial-gradient(circle, #c8b79f 40%, transparent 70%);
  border-radius: 9999px;

  opacity: 0.8;

  animation: floatUp 6s linear infinite;

  filter: blur(0.3px);
}

@keyframes floatUp {
  0% {
    transform: translateY(0px) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    transform: translateY(-100px) scale(1);
  }
  100% {
    transform: translateY(-220px) scale(0.8);
    opacity: 0;
  }
}

.particle {
  background: brown;
  width: 8px;
  height: 8px;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}